footer{
    color: #4E8FF2;
    font-size: 12px;
    width: 100%;
    height: 110px;
}
.stab{
    display: flex;
    justify-content: center;
    padding-top: 15px
}
.stab span{
    margin-left: 20px
}
.spower{
    width: 100%;
    height: 17px;
    line-height: 17px;
    text-align: center;
    margin: 12px 0
}
.scopy{
    width: 100%;
    height: 17px;
    line-height: 17px;
    text-align: center

}