header{
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: space-between
}
.logo{
    width:130px;
    height: 40px;
    margin-left: 20px;
    background: url("../images/logo.png") no-repeat;
    background-size: 100% 100%;
    margin-top: 10px
}
.tab{
    height: 60px;
    display: flex;
    justify-content: space-around
}
.tab>div{
    height: 60px;
    line-height: 58px;
    margin-right: 20px
}
.tab>div span{
    display: inline-block;
    height: 58px;
}
.tab>div .tap{
    border-bottom: 2px solid #4E8FF2;
    color: #4E8FF2;
}
.info{
    height: 60px;
    line-height: 60px;
    display: flex;
    justify-content: space-around;
}
.info .message{
    height: 28px;

}
.info .message i{
    font-size: 28px
}
.avatar{
    width: 30px;
    height: 30px;
    border-radius: 50%
}
.nicName{
    margin-right: 19.2px
}
/* .info{
    width:  ;
} */